<div class="w-100 header d-flex justify-content-center" [ngClass]="{'ifOnTop': position == 0}">
    <div class="d-flex header-options justify-content-center align-items-center">
        <img class="logo" src="../../../assets/images/Google_Stadia-Logo.wine.svg" alt="">
        <ul class="d-flex list">
            <li class="item">Início</li>
            <li class="item">Filmes</li>
            <li class="item">Séries</li>
            <li class="item">Minha Lista</li>
        </ul>
    </div>
</div>